/* --------CSS VARIABLES---------- */
:root {
	/* ## Colors */

	/* ### Primary */

	--strong-cyan-500: hsl(172, 67%, 45%);

	/* ### Neutral */

	--cyan: hsl(183, 100%, 15%);
	--grayish-cyan-600: hsl(186, 14%, 43%);
	--grayish-cyan-400: hsl(184, 14%, 56%);
	--grayish-cyan-200: hsl(185, 41%, 84%);
	--grayish-cyan-0: hsl(189, 41%, 97%);
	--white: hsl(0, 0%, 100%);

	/* ## Typography */

	/* ### Body Copy */

	--fs-input: 1.5rem;

	/* ### Font */

	--ff-regular: "Space Mono", sans-serif;
	--fw-bold: 700;
}

/* --------CSS RESET-------------- */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

/* --------GENERAL STYLES---------- */

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--grayish-cyan-200);
	font-family: var(--ff-regular);
	min-height: 64rem;
}

.logo {
	max-width: 5.438rem;
	margin: 5rem;
}

.btn {
	border: none;
	border-radius: 0.5rem;
	padding: 1rem;
}

/* --------CALCULATOR STYLES---------- */

.calculator {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	background-color: var(--white);
	width: 100%;
	border-radius: 2rem;
	padding: 3rem;
	max-width: 58rem;
}

.calculator__main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

/* --------INPUT BILL STYLES---------- */

.calculator__total-bill,
.calculator__num-ppl {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.calculator__section-title {
	font-size: 1rem;
	color: var(--grayish-cyan-600);
}

.calculator__input {
	width: 100%;
	appearance: textfield;
	-moz-appearance: textfield;
	padding: 0.25rem 1rem;
	border: none;
	background-color: var(--grayish-cyan-0);
	border-radius: 0.25rem;
	background-position: 1.5rem center;
	background-repeat: no-repeat;
	color: var(--cyan);
	text-align: right;
	font-weight: var(--fw-bold);
	font-size: var(--fs-input);
	line-height: 1;
}

.calculator__input#input-bill {
	background-image: url("images/icon-dollar.svg");
}

.calculator__input#input-ppl {
	background-image: url("images/icon-person.svg");
}

.calculator__select-tip {
	display: grid;
	gap: 1rem;
}

.calculator__tip-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 1.25rem;
	justify-content: center;
	align-items: center;
}

.calculator__tip-btn {
	width: 8rem;

	font-weight: var(--fw-bold);
	font-size: var(--fs-input);
	line-height: 1;
	background-color: var(--cyan);
	color: var(--grayish-cyan-0);
	max-width: 7.5rem;
}

.btn-custom {
	background-color: var(--grayish-cyan-0);
	color: var(--cyan);
}

.calculator__perperson {
	background-color: var(--cyan);
	border-radius: 1rem;
	padding: 2rem 1.5rem;
	display: grid;
	gap: 2rem;
}

.perperson__content {
	display: grid;
	gap: 1rem;
}

.perperson__bill-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.perperson__title {
	font-size: 1rem;
	color: var(--grayish-cyan-0);
}

.perperson__note {
	font-weight: var(--fw-bold);
	color: var(--grayish-cyan-400);
	font-size: 0.85rem;
}

.perperson__amount {
	font-size: var(--fs-input);
	font-weight: var(--fw-bold);
	color: var(--strong-cyan-500);
	display: inline-block;
}

.btn--reset {
	text-transform: uppercase;
	font-weight: var(--fw-bold);
	background-color: var(--strong-cyan-500);
	color: var(--cyan);
	font-size: 1.2rem;
	line-height: 1;
	max-height: 4rem;
	align-self: end;
}

@media (min-width: 58rem) {
	.calculator {
		flex-direction: row;
		padding: 2rem;
	}

	.calculator__main {
		width: 50%;
	}
	.calculator__perperson {
		width: 50%;
	}
}
